figcaption.web{font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; 
    font-size: larger;

}
figcaption{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;font-size: medium;
}
table{
    box-shadow: teal 0px -8px 15px;
}
    
